.search-container {
  max-width: 700px;
  margin: 10px 20px;
}

.results-container {
  margin: 0.5em 0;
  padding: 0.5em 0.2em;
  min-height: 100vh;
  position: relative;
}
.results-container .loading-overlay > img {
  top: 150px;
}

.result {
  width: 100%;
  margin: 5px 0;
  border: 1px solid #CCC;
  box-shadow: 0 2px 5px #CCC;
  transition: 0.3s all;
}
.result > a {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  color: #444;
  text-decoration: none;
}
.result:hover {
  background: #EEE;
}

.repo-result > a {
  min-height: 112px;
}
.repo-result .title {
  font-weight: bold;
}
.repo-result .owner {
  margin-top: 1em;
}
.repo-result .description {
  margin-top: 1em;
}

.user-result > a {
  flex-direction: row;
  min-height: 96px;
}
.user-result .avatar > img {
  width: 50px;
  height: 50px;
}
.user-result .login {
  font-weight: bold;
  margin-left: 1em;
}

@media screen and (min-width: 767px) {
  .search-container {
    margin-left: auto;
    margin-right: auto;
  }
}